body{
    background-color: #e3defc;
}

ul{
    list-style: none;
}

h1{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.card{
    padding: 2.5%;
    background-color: #cfc6ff;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    width: 75%;
    
}

li{
    font-family: 'PT Sans', sans-serif;
}

.header{
    display:flex;
    justify-content:space-between; 
    text-align:center;
    margin-top:-5px;
}

#searchInput{
    padding: 5%;
    color: white;
    background-color: #141e42;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.5s;
    outline: 0;
}

.dropdown-toggle:hover,#searchInput:hover, .subtaskButton:hover{
    color: #008056;
    background-color: #b9fee7;
}
input{
    border-radius: 5px;
}

#searchInput{
    padding: 2.5% 5%;
}

li, h1{
    color: #141e42;
}

.input-group .d-flex{
    margin: auto;
}

.btn-close{
    background-color:transparent; 
    float: right;
}
.calendarButton{
    float: right;
}
.btn-close:hover{
    color: red;
}

.form-check-input:checked ~ .form-check-label {
    text-decoration: line-through;
  }
.dateDisplay {
    margin-left: 10px;
}

span{
    float: right;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25%;
  }

.taskFin{
    margin-left:auto;
    display: none;
}

.dropdown-toggle{
    background-color: #141e42;
}

.subtaskButton{
    color: white;
    background-color: #141e42;
    border: none;
    font-size: 13px;
    cursor: pointer;
    outline: 0;   
}